/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/bin/
/vendor/
_*/
_*
*~
!*.php~
/nbproject/
composer.phar
composer.lock
fabfile.py
fabfile.pyc
.pydevproject
.project
*.komodoproject
.settings/
.~*
